### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Count the number of unique SN in the data
total_players = purchase_data['SN'].nunique()
num_players = pd.DataFrame({"Total Players":[purchase_data['SN'].nunique()]})
num_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchasing_analysis = {"Number of Unique Items":[purchase_data.groupby(['Item ID']).ngroups], 
                      "Average Price":[purchase_data['Price'].mean()],
                       "Number of Purchases":[purchase_data['Purchase ID'].count()], 
                       "Total Revenue":[purchase_data['Price'].sum()]}
              
pur_analysis_df = pd.DataFrame(purchasing_analysis)
pd.options.display.float_format = '${:,.2f}'.format
pur_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df = purchase_data[["Gender","SN"]].copy()
gender_df.drop_duplicates(subset ="SN", keep='first', inplace = True)# - ASK TUTOR

In [5]:
gender_count= gender_df.groupby('Gender').count()
gender_count.rename(columns = {'SN':'Total Count'}, inplace = True)

gender_count["Percentage of Players"]=(gender_count[['Total Count']]/total_players)*100
gender_count['Percentage of Players'] = gender_count['Percentage of Players'].map('{:,.2f}%'.format)#ASK TUTOR HOW DO I DO THIS FOR MULTIPLE COLUMNS
gender_count

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
count_by_gender = purchase_data.groupby(['Gender'])['Purchase ID'].count().to_frame()

In [7]:
count_by_gender["Average Purchase Price"] = purchase_data.groupby(['Gender'])['Price'].mean().to_frame()

In [8]:
count_by_gender["Total Purchase Value"]=purchase_data.groupby(['Gender'])['Price'].sum().to_frame()

In [9]:
count_by_gender["Avg Total Purchase per Person"]=count_by_gender["Total Purchase Value"]/gender_count['Total Count']

In [10]:
pd.options.display.float_format = '${:,.2f}'.format
count_by_gender = count_by_gender.rename(columns = {'Purchase ID':'Purchase Count'})
count_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
age_df = purchase_data[["Age","SN"]]
age_df = age_df.drop_duplicates()
tutor_test = age_df[age_df["Age"]<10]

In [12]:
bins = [0, 9.99,14.99,19.99,24.99,29.99,34.99,39.99, 200]  #getting as close to the next one as you can
group_names = ["<10", "10-14", "15-19","20-24", "25-29","30-34", "35-39", "40+"]
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=group_names)

In [13]:
age_df.set_index(["Age Group"], inplace = True, append = False, drop = True)

In [14]:
age_df = age_df.drop(["SN"], axis=1)
age_df = age_df.groupby(age_df.index).count()

In [15]:
age_df = age_df.rename(columns = {'Age':'Total Count'})

In [16]:
age_df["Percent of Players"]=(age_df[["Total Count"]]/total_players)*100
age_df["Percent of Players"] = age_df["Percent of Players"].map('{:,.2f}%'.format)
age_df

           Total Count Percent of Players
Age Group
<10                 17              2.95%
10-14               22              3.82%
15-19              107             18.58%
20-24              258             44.79%
25-29               77             13.37%
30-34               52              9.03%
35-39               31              5.38%
40+                 12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
new = age_df.copy()

In [18]:
purchasing_age = purchase_data[["Age","Purchase ID", "Price","SN"]].copy()
purchasing_age["Age Group"] = pd.cut(purchasing_age["Age"], bins, labels=group_names)
id_count = purchasing_age.groupby(["Age Group"]).count()
purchasing_age = purchasing_age.groupby(["Age Group"]).sum()

In [19]:
new["Total Purchase Value"] = purchasing_age["Price"]

In [20]:
new["Total Count"]= id_count["Purchase ID"]
new = new.rename(columns = {'Total Count':'Purchase Count'})

In [21]:
new["Percent"]=new["Total Purchase Value"]/new["Purchase Count"]
new["Avg Total Purchase Per Person"] = new["Total Purchase Value"]/age_df["Total Count"]
new = new.rename(columns = {'Percent':'Average Purchase Price'})
new

,Purchase Count,Percent of Players,Total Purchase Value,Average Purchase Price,Avg Total Purchase Per Person
Age Group,,,,,
<10,23,2.95%,$77.13,$3.35,$4.54
10-14,28,3.82%,$82.78,$2.96,$3.76
15-19,136,18.58%,$412.89,$3.04,$3.86
20-24,365,44.79%,"$1,114.06",$3.05,$4.32
25-29,101,13.37%,$293.00,$2.90,$3.81
30-34,73,9.03%,$214.00,$2.93,$4.12
35-39,41,5.38%,$147.67,$3.60,$4.76
40+,13,2.08%,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
top_spender = purchase_data[["SN", "Purchase ID","Price"]]
#Collect the total number of SN's
sum_sn = top_spender.groupby(["SN"]).sum()

In [23]:
#Number of purchases per player
purchase_count_sn = top_spender.groupby(["SN"]).count()

In [24]:
top_spender = top_spender.groupby(["SN"]).sum()
#Pull in the purchase count from above to the data frame
top_spender["Purchase ID"] = purchase_count_sn[["Purchase ID"]]
#Pull in prices from above
top_spender["Price"]=sum_sn[["Price"]]
top_spender = top_spender.rename(columns = {'Purchase ID':'Purchase Count'})
top_spender["Total Purchase Value"]=top_spender["Price"]

top_spender["Price"] = top_spender["Total Purchase Value"]/top_spender["Purchase Count"]
top_spender = top_spender.rename(columns = {'Price':'Average Purchase Price'})

top_spender.sort_values('Total Purchase Value',inplace=True, ascending=False)
top_spender

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10
...                     ...                     ...                   ...
Ililsasya43               1                   $1.02                 $1.02
Irilis75                  1                   $1.02                 $1.02
Aidai61                   1                   $1.01                 $1.01
Chanirra79                1                   $1.01                 $1.01
Alo38                     1                   $1.00                 $1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
pop_items = purchase_data[["Item ID", "Item Name","Price"]]
items_count = pop_items.groupby(["Item ID","Item Name"]).count()
pop_items = pop_items.groupby(["Item ID", "Item Name"]).sum()

In [26]:
pop_items["Count"] = items_count['Price']

In [27]:
items = purchase_data[["Item ID", "Item Name","Price"]]
#Find all the items and their prices
items = items.groupby(["Item ID", "Item Name"]).mean()

In [28]:
#Copy the items prices over to the new dataframe as a new column
pop_items["Item Price"] = items["Price"]
pop_items.sort_values('Count',inplace=True, ascending=False)
pop_items = pop_items.rename(columns = {'Price':'Total Purchase Value'})
pop_items = pop_items.rename(columns = {'Count':'Purchase Count'})

In [29]:
#Use loc to reorder the columns in the correct order
pop_items = pop_items.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
pop_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
...,...,...,...,...
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
#Make a copy of the above dataframe and sort by Totals
profitable_items = pop_items.copy()
profitable_items.sort_values('Total Purchase Value',inplace=True, ascending=False)
profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75

## Observations

* The majority of players are Males between 20-24. So for marketing this is the majority group of the audience.


* The highest average age group spending on items is in the 35-39 age group.


* The females/other categories have higher averages of spending than the males. If the audience were to shift to more females there would be a better chance of increasing the overall average spending per user.